#!/bin/bash

set -euo pipefail

dotenv ./.env.local

< .env.example grep -oP '^[^#].*(?==)' |
while read v; do
    if [[ -z "${!v:-}" ]]; then
        echo "ERROR: The ${v} environment vairable must be set"
        exit 1
    fi
done
